<!-- Changes that occur on the screen are made in the app.components.html (inside app folder),
But this is not the file that is rendered by the server, the index.html (in first level
folder) is the file that is rendered by the server. -->

<!-- Adding bootstrap css -->
<div class="container">
    <div class="row">
        <div class="cols-xs-12">
            <h3>Legendary</h3>
            <hr>
            <!-- <app-servers></app-servers> -->
            <!-- <div app-servers></div> -->
            <div class="app-servers"></div>

        </div>
    </div>
</div>
